.Main {
  height: 100%;
}

.Main .game-field {
  display: grid;
  grid-template-areas: "left game right"
                       "footer footer footer";
  width: 100%;
  height: 100%;
  grid-template-columns: auto 40% auto;
  grid-template-rows: auto 3vw;
}

.Main .game-field .left {
  grid-area: left;
  background-color: cornflowerblue;
  width: 100%;
  height: 100%;
}

.Main .game-field .right {
  grid-area: right;
  background-color: cornflowerblue;
  width: 100%;
  height: 100%;

}

.Main .game-field .game {
  grid-area: game;
  background-color: black;
  width: 100%;
  height: 100%;
  font-size: 1rem;  
}

.Main .game-field footer {
  grid-area: footer;
  background-color: cornflowerblue;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.game .figure.type0 {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  left: 2rem;
  top: 4rem;
  width: 2rem;
  height: 8rem;
  transition: all 0.5s ease 0s;
}

.game .figure.rotate0 {
  transform: rotate(0deg);
}

.game .figure.rotate1 {
  transform: rotate(90deg);
}

.game .figure.rotate2 {
  transform: rotate(180deg);
}

.game .figure.rotate3 {
  transform: rotate(270deg);
}

.game .figure.type0 > div {
  background-color: blueviolet;
  border: 1px solid white;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
}